.contact{
    font-family: 'Montserrat', sans-serif;
    margin-left: 10vw;
    margin-right: 10vw;
}
.contactMain{
    padding-top: 6vw;
}
.text3{
    vertical-align: top;
    margin-left: 10vw;
    max-width: 40vw;
}
