.home{
    font-family: 'Montserrat', sans-serif;
}
.welcome{
    display: block;
    margin: 12vw 0vw 12vw 10vw;

}
.welcomeTitle{
    font-size: 80px;
    animation: fadeIn 3s;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
.photo{
    max-width: 40vw;
    margin-left: 10vw;
}
.intro{
    max-width: 30vw;
    font-size: 20px;
    animation: fadeIn 3s;
}
.myWork{
    text-align: left;
    margin: 5vw 0 5vw 3vw;
}
.otitle{
    color: #7393F8;
    font-weight: 700;
    font-size: 30px;
}
.abtitle{
    color: #BF4F5B;
    font-weight: 700;
    font-size: 30px;
}
.rtitle{
    color: #F09644;
    font-weight: 700;
    font-size: 30px;
}
.stitle{
    color: #4CD783;
    font-weight: 700;
    font-size: 30px;
}
.project{
    margin-bottom: 2vw;
    max-width: 45vw;
}
.card{
    max-width: 45vw ;
    border-radius: 30px;
    transition: .5s ease;
    backface-visibility: hidden;
    z-index: 1;
}

.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.overlay:hover .card {
    opacity: 0.6;
  }  
