.nav{
  position: sticky;
  top: 0px;
  z-index: 2;
}
.navBar{
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  padding: 2vw 2vw 2vw 2vw;
  font-weight: 400;
}

.navButtons{
  display: flex;
  max-width: 40vw;
  justify-content: space-between;
}
.navB{
  padding-left: 2vw;
  padding-right: 2vw;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: white;
  transition: all .2s ease-in-out;
}

.navB:hover{
  transform: scale(1.15);
}